In [ ]:
# Лабораторная работа №3
# Кластеризация методом DBSCAN
# Данные взяты из файла Econom_Cities_data

In [7]:
#  Активируем библиотеки
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from sklearn import preprocessing
matplotlib.style.use('ggplot')
%matplotlib inline
import os
from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
#  Активируем процедуру DBSCAN
from sklearn.cluster import DBSCAN

In [8]:
#  Задаем рабочую папку
os.chdir("/content/drive/MyDrive/ITMO/data analysis/lab_3")

In [9]:
#  Указываем колонку City как index_col
df = pd.read_csv('/content/drive/MyDrive/ITMO/data analysis/lab_1/Econom_Cities_data.csv', sep = ';', decimal=',',  index_col='City')

In [10]:
# Удалим выбросы

In [11]:
print(df[df.index=='Cairo'])
print(df[df.index=='Jakarta'])

df = df.drop('Jakarta');
df = df.drop('Cairo');

       Work  Price  Salary
City
Cairo -9999   37.1 -9999.0
         Work  Price  Salary
City
Jakarta -9999   43.6 -9999.0

In [12]:
df

                Work  Price  Salary
City
Amsterdam       1714   65.6    49.0
Athens          1792   53.8    30.4
Bogota          2152   37.9    11.5
Bombay          2052   30.3     5.3
Brussels        1708   73.8    50.5
Buenos_Aires    1971   56.1    12.5
Caracas         2041   61.0    10.9
Chicago         1924   73.9    61.9
Copenhagen      1717   91.3    62.9
Dublin          1759   76.0    41.4
Dusseldorf      1693   78.5    60.2
Frankfurt       1650   74.5    60.4
Geneva          1880   95.9    90.3
Helsinki        1667  113.6    66.6
Hong_Kong       2375   63.8    27.8
Houston         1978   71.9    46.3
Johannesburg    1945   51.1    24.0
Kuala_Lumpur    2167   43.5     9.9
Lagos           1786   45.2     2.7
Lisbon          1742   56.2    18.8
London          1737   84.2    46.2
Los_Angeles     2068   79.8    65.2
Luxembourg      1768   71.1    71.1
Madrid          1710   93.8    50.0
Manila          2268   40.0     4.0
Mexico_City     1944   49.8     5.7
Milan           1773   82.0    53.3
Montreal        1827   72.7    56.3
Nairobi         1958   45.0     5.8
New_York        1942   83.3    65.8
Nicosia         1825   47.9    28.3
Oslo            1583  115.5    63.7
Panama          2078   49.2    13.8
Paris           1744   81.6    45.9
Rio_de_Janeiro  1749   46.3    10.5
San_Paulo       1856   48.9    11.1
Seoul           1842   58.3    32.7
Singpore        2042   64.4    16.1
Stockholm       1805  111.3    39.2
Sydney          1668   70.8    52.1
Taipei          2145   84.3    34.5
Tel_Aviv        2015   67.3    27.0
Tokyo           1880  115.0    68.0
Toronto         1888   70.2    58.2
Vienna          1780   78.0    51.3
Zurich          1868  100.0   100.0

In [13]:
# Данные находятся в разных диапазонах. Нужна стандартизация
# z = (x - mean) / std - формула стандартизации

In [14]:
stand_1 = preprocessing.StandardScaler() # Создаем объект scaler
stand_1.fit(df) # Изучаем данные (вычисляем среднее и std)
X = stand_1.transform(df)  # Применяем преобразование
X = pd.DataFrame(X, index=df.index, columns=df.columns)

In [17]:
# Кластеризуем методом DBSCAN
# инициализируем модель
dbscan = DBSCAN(eps=0.5, metric='euclidean', min_samples=5)
# обучаем модель
dbscan.fit(X)
# смотрим на результаты кластеризации
dbscan.labels_

array([ 0, -1, -1, -1,  0, -1, -1, -1, -1,  0,  0, -1, -1, -1, -1, -1, -1,
       -1, -1, -1,  0, -1, -1, -1, -1, -1,  0,  0, -1, -1, -1, -1, -1,  0,
       -1, -1, -1, -1, -1,  0, -1, -1, -1, -1,  0, -1])

In [18]:
# Представляем результаты кластеризации
# Создаем таблицу частот в numpy
unique, counts = np.unique(dbscan.labels_, return_counts=True)
print(np.asarray((unique, counts)).T)

[[-1 36]
 [ 0 10]]

In [ ]:
# Видим, что очень много образовалось значений -1 (36 штук)
# Это говорит о потенциальных выбросах, но ввиду того,
# что выборка небольшая, их чересчур много
# Попробуем увеличивать eps

In [19]:
# Снова инициализируем модель, но уже с параметром eps=5
dbscan = DBSCAN(eps=5, metric='euclidean', min_samples=5)
# обучаем модель
dbscan.fit(X)
# смотрим на результаты кластеризации
dbscan.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [ ]:
# Получили один кластер
# Попробуем уменьшить eps в 2 раза
# Также попробуем уменьшить min_samples до 3

In [20]:
# инициализируем модель
dbscan = DBSCAN(eps=2.5, metric='euclidean', min_samples=3)
# обучим модель
dbscan.fit(X)
# смотрим на результаты кластеризации
dbscan.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [ ]:
# Аналогично. Попробуем уменьшить min_samples до 2, а eps до 1.2.

In [21]:
# инициализируем модель
dbscan = DBSCAN(eps=1.2, metric='euclidean', min_samples=2)
# обучим модель
dbscan.fit(X)

unique, counts = np.unique(dbscan.labels_, return_counts=True)
print(np.asarray((unique, counts)).T)

[[-1  2]
 [ 0 42]
 [ 1  2]]

In [ ]:
# Видим, что выделилось 2 кластера, содержащие 42 и 2 объекта,
# а так же 2 значения выброса
# Количество значений, входящих в кластеры, неравномерно, попробуем ещё

In [22]:
# инициализируем модель
dbscan = DBSCAN(eps=0.8, metric='euclidean', min_samples=2)
# обучим модель
dbscan.fit(X)

unique, counts = np.unique(dbscan.labels_, return_counts=True)
print(np.asarray((unique, counts)).T)

[[-1  4]
 [ 0 19]
 [ 1 19]
 [ 2  2]
 [ 3  2]]

In [ ]:
# Остановимся на этом решении
# Дальнейшее уменьшение min_samples приводит к излишней раздробленности кластеров
# А дальнейшее уменьшение eps - к увеличению выбросов
# Увеличение eps приводит к соединению кластеров 0 и 1 в один кластер, содержащий 38 объектов.
# Количество объектов в кластерах в текущем решении неравномерно
# Думаю, можно это объяснить несбалансированностью обучающей выборки

In [23]:
df['dbscan'] = dbscan.labels_
df['dbscan'].sort_values()

City
Hong_Kong        -1
Tokyo            -1
Taipei           -1
Stockholm        -1
Dublin            0
Amsterdam         0
Chicago           0
Brussels          0
Houston           0
Montreal          0
New_York          0
Milan             0
London            0
Dusseldorf        0
Copenhagen        0
Frankfurt         0
Paris             0
Sydney            0
Toronto           0
Vienna            0
Luxembourg        0
Los_Angeles       0
Madrid            0
Johannesburg      1
Manila            1
Kuala_Lumpur      1
Buenos_Aires      1
Athens            1
Bombay            1
Bogota            1
Caracas           1
Lisbon            1
Seoul             1
Singpore          1
Rio_de_Janeiro    1
Nicosia           1
Mexico_City       1
Lagos             1
Nairobi           1
Panama            1
Tel_Aviv          1
San_Paulo         1
Geneva            2
Zurich            2
Oslo              3
Helsinki          3
Name: dbscan, dtype: int64

In [24]:
df.groupby('dbscan').mean()

               Work       Price     Salary
dbscan
-1      2051.250000   93.600000  42.375000
 0      1792.000000   77.526316  55.157895
 1      1959.210526   50.115789  14.789474
 2      1874.000000   97.950000  95.150000
 3      1625.000000  114.550000  65.150000

In [25]:
# В кластере 0 - в меру работают и в меру получают.

# В кластере 1 - самые плохо оплачиваемые города - часов много при низких зарплатах.

# В кластере 2 - самое лучшее соотношение между часами и полученной зарплатой
# (зарплаты тут выше всего).

# В кластере 3 при меньшем количестве часов наблюдаются хорошие зарплаты,
# но при этом высокие цены.

# Кластер -1 можно посчитать выбросами. Либо же охарактеризовать так - люди много работают,
# получают средне, но при этом цены высокие.

# Вывод: конкретно в данной задаче гораздо удобнее было применить
# иерархический кластерный анализ или же K-means.
# Подбирать eps и num_samples не всегда очевидная и тривиальная задача.

In [ ]:
# Выбор метода K-средних - как наиболее стабильный и интерпретируемый
# DBSCAN - для обнаружения выбросов и уникальных случаев
# Иерархический - для понимания структуры данных

In [ ]:
# СРАВНЕНИЕ РЕЗУЛЬТАТОВ КЛАСТЕРИЗАЦИИ:

# Иерархический: 5 кластеров, разбивает "средний" сегмент на 2 (2 и 3), нет шума
# K-means: 5 кластеров, почти идентичен иерархическому, но центроиды слегка сдвинуты
# DBSCAN: 4 кластера + шум (-1), объединил средние в один (0), выделил выбросы